<aside class="menu bg-dark t-gray">
  <div class= 'user-content'>
    <div class= image>
      <%= image_tag current_user.photo %>
    </div>
    <p class= 'username'>@<%= current_user.username %></p>
    <div class= 'followings'>
      <div class= 'follow'>
        <p><%= current_user.followers.count %></p>
        <p>Followers</p>
      </div>
      <div class= 'follow'>
        <%= current_user.followeds.count %>
        <p>Following</p>
      </div>
    </div>
  </div>

  <ul class="menu-list t-gray">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Your profile', user_path(current_user) %></li>
    <li><%= link_to 'Following', users_path %></li>
  </ul>
</aside>

<div class = 'big-container'>
  <section class='section center-section'>
    <%= form_for(@opinion) do |form| %>
      <%= label_tag(:content, "Share your opinion:", class: 'label' ) %>
      <%= form.text_field :content, id: :opinion_content, class: 'form-control', placeholder: 'Write here your opinion' %>
      <%= form.submit 'Share', class: 'btn btn-primary' %>
    <% end %>

    <article class="timeline">
      <h3 class='title is-4 t-blue'>
        Shared Opinions
      </h3>
      <ul class="posts">
        <%= render @opinions %>
      </ul>
    </article>
  </section>

  <section class='section right-section'>
    <div>
      <h3 class='title is-4 t-blue center'>Who to follow</h3>
      <ul>
        <%= render @index %>
      </ul>
    </div>
  </section>
</div>
