<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= label_tag(:username, "Username", class: 'label t-white' ) %>
  <%= form.text_field(:username, placeholder: 'Username', class: 'input') %> <br><br>

  <%= label_tag(:fullname, "Full Name", class: 'label t-white' ) %>
  <%= form.text_field(:fullname, placeholder: 'Name', class: 'input') %> <br><br>

  <%= label_tag(:email, "Email", class: 'label t-white' ) %>
  <%= form.text_field(:email, placeholder: 'Email', class: 'input') %> <br><br>

  <div class="actions">
    <%= form.submit('Sign Up', class: 'button bg-blue t-white') %>
  </div>
<% end %>
