<aside class="menu bg-dark t-gray">
  <div class= 'user-content'>
    <div class= image>
      <%= image_tag current_user.photo %>
    </div>
    <p class= 'username'>@<%= current_user.username %></p>
    <div class= 'followings'>
      <div class= 'follow'>
        <p><%= current_user.followers.count %></p>
        <p>Followers</p>
      </div>
      <div class= 'follow'>
        <%= current_user.followeds.count %>
        <p>Following</p>
      </div>
    </div>
  </div>

  <ul class="menu-list t-gray">
    <li><%= link_to 'Home', root_path %></li>
  </ul>
</aside>

<div class = 'big-container'>
  <section class='section center-section'>
    <article class="timeline">
      <h3 class='title is-4 t-blue'>
        Shared Opinions
      </h3>
      <ul class="posts">
        <%= render @user.opinions %>
      </ul>
    </article>
  </section>

  <section class='section right-section'>
    <div>
      <h3 class='title is-4 t-blue'>Followers</h3>
      <ul>
        <%= render @followers %>
      </ul>
    </div>
  </section>
</div>
